.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1260px;
  margin: 0 auto;
  margin-top: 4rem;
}

.movies__container {
  margin-bottom: 60px;
  background-color: #fff;
  border-radius: 15px;
}

.movies__container img {
  border-radius: 15px 15px 0px 0px;
  object-fit: contain;
}

.movie__info {
  padding: 0 1.5rem;
  padding-top: 5px;
  padding-bottom: 2rem;
}

.movie__info h3 {
  font-size: 18px;
}

.movie__results {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 12px;
  font-weight: 600;
}

.red__subGroup {
  color: #9f001d;
}
