.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: inherit;
  color: #fff;
}

.footer__copyright {
  font-size: 12px;
  text-align: center;
}
