@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    52.84% 62.95% at 50% 38.45%,
    #050422 0%,
    #000000 100%
  );
}
